[submodule "providers/modal/image-runtime"]
	path = providers/modal/image-runtime
	url = https://github.com/xiaoqianran/modal-2D
[submodule "providers/modal/image-agent"]
	path = providers/modal/image-agent
	url = https://github.com/xiaoqianran/modal-2D-client
[submodule "providers/modal/connector"]
	path = providers/modal/connector
	url = https://github.com/xiaoqianran/modal-gen-client
[submodule "providers/modal/object3d-runtime"]
	path = providers/modal/object3d-runtime
	url = https://github.com/xiaoqianran/modal-3D
[submodule "providers/modal/object3d-agent"]
	path = providers/modal/object3d-agent
	url = https://github.com/xiaoqianran/modal-3D-client
[submodule "providers/kaggle/runtime"]
	path = providers/kaggle/runtime
	url = https://github.com/xiaoqianran/kaggle-inference-hub
[submodule "sdk/python"]
	path = sdk/python
	url = https://github.com/xiaoqianran/AgentScape-client
[submodule "providers/embodied/runtime"]
	path = providers/embodied/runtime
	url = https://github.com/xiaoqianran/modal-build
[submodule "upstream/EmbodiedGen"]
	path = upstream/EmbodiedGen
	url = https://github.com/HorizonRobotics/EmbodiedGen
